<!-- <div class="col-xs-6 col-sm-6 col-lg-6" ng-show="studentMode">

                <div bs-panel title="Practice Log" class="week">

                    <div ng-controller="WeeksCtrl" >
                        <button class="btn btn-sm btn-default" ng-click="subWeek()"><i class="fa fa-arrow-left blue"></i>
                        </button>
                        <button class="btn btn-sm btn-default" ng-click="thisWeek()">Now</button>
                        <button class="btn btn-sm btn-default" ng-click="addWeek()"><i class="fa fa-arrow-right blue"></i>
                        </button>

                        <div class="container" ng-show="logShow">
                            <div class="row">
                                <h2>{{month+" "+year}}</h2>

                                <div class="weekCols">
                                    <h3>Mon</h3>
                                    <p>{{mon}}</p>
                                    <i ng-repeat="item in sessions" ng-show="monForm == item.date" class="fa fa-check green fa-3x"></i>

                                </div>
                                <div class="weekCols">
                                    <h3>Tue</h3>
                                    <p>{{tue}}</p>
                                    <i ng-repeat="item in sessions" ng-show="tueForm == item.date" class="fa fa-check green fa-3x"></i>

                                </div>
                                <div class="weekCols">
                                    <h3>Wed</h3>
                                    <p>{{wed}}</p>
                                    <i ng-repeat="item in sessions" ng-show="wedForm == item.date" class="fa fa-check green fa-3x"></i>

                                </div>
                                <div class="weekCols">
                                    <h3>Thu</h3>
                                    <p>{{thu}}</p>
                                    <i ng-repeat="item in sessions" ng-show="thuForm == item.date" class="fa fa-check green fa-3x"></i>

                                </div>
                                <div class="weekCols">
                                    <h3>Fri</h3>
                                    <p>{{fri}}</p>
                                    <i ng-repeat="item in sessions" ng-show="friForm == item.date" class="fa fa-check green fa-3x"></i>

                                </div>
                                <div class="weekCols">
                                    <h3>Sat</h3>
                                    <p>{{sat}}</p>
                                    <i ng-repeat="item in sessions" ng-show="satForm == item.date" class="fa fa-check green fa-3x"></i>
                                </div>
                                <div class="weekCols">
                                    <h3>Sun</h3>
                                    <p>{{sun}}</p>
                                    <i ng-repeat="item in sessions" ng-show="sunForm == item.date" class="fa fa-check green fa-3x"></i>

                                </div>

                            </div>
                        <h4>{{sessionCount+" sessions = "+percentage}}</h4>
                        </div>





                    </div>
                </div>
            </div> -->