<!-- 
<div class="scrollable">
    <!--     <input bs-form-control type="text" ng-model="notes" label="Notes" /> -->

<!--     <div class="scrollable-content">
        <!--         <span class="music">{{notes}}</span>
        <br />
        <span>   Q    QTTT  QU.Y  QU`RT  |   E Q    S  QTR  Q    |   W      \</span>

        <span class="music">   Q    QTTT  QU.Y  QU`RT  |   E Q    S  QTR  Q    |   W      \</span>
 -->
<!--     </div> -->
<!-- </div> -->

<div id="canvas">
    
</div>


<!-- <table class="table table-striped table-condensed">

    <tr>
        <td>
            Q
        </td>
        <td class="music">
            Q
        </td>
    </tr>
    <tr>
        <td>
            T
        </td>
        <td class="music">
            T
        </td>
    </tr>
    <tr>
        <td>
            QU
        </td>
        <td class="music">
            QU
        </td>
    </tr>
    <tr>
        <td>
            Y
        </td>
        <td class="music">
            Y
        </td>
    </tr>
    <tr>
        <td>
            .
        </td>
        <td class="music">
            .
        </td>
    </tr>

</table>


 -->